@import url(../fonts/dinpro/stylesheet.css);
@import url(../fonts/fontello-c2cc9cba/css/fontello.css);
html, body {
    margin: 0;
    padding: 0;
    font-size: 21.5px;
    font-family: "DIN Pro", sans-serif;}
header {
    background-color: black;
    background-image: url("../img/system01.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
    text-align: center;
    padding: 4.5em 1em 7em 0;}
header h1 {
    font-weight: normal;
    font-size: 4em;
    margin-top: 0;}
button {
    background: #dbc054;
    border: #e50808 solid 1px;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
    margin: auto;
    font-weight: bold;
    transition: all ease-in 0.3s;}
button:hover,
button:focus,
button:active {
    background: #d21e1e;
    border-color: #e5080f;}
header nav ul {
    font-size: 1.2em;
    display: table;
    list-style: none;
    margin: 0 auto;}
header nav ul li {
    float: left;}
header nav ul li::after {
    content: "-";
    padding: 0 0.3em;}
header nav ul li:last-child::after {
    content: "";}
main .section {
    max-width: 1200px;
    margin: 0 auto;
}
h4
{
    font-weight: normal;
    color: #ff5546;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);}
{
    font-size: 1.4em;
    font-weight: normal;
    color: #ff5546;
}

#study-order article {
    max-width: 900px;
    margin: 4em auto;
    padding: 2em;
    border: solid 1px #478ac9;
    transition: all ease-in 0.3s;}
@media (max-width: 1000px) {
    #start-education-today .grid-wrapper {
        padding: 4em 2em;
    }
}
@media (max-width: 800px) {
    #start-education-today .grid-wrapper {
        padding: 1em 2em;
    }
}
#study-order .icon {
    font-size: 2em;
    color: #478ac9;;
    transition: all ease-in 0.3s;
}
#study-order:hover .icon,
#study-order:focus .icon {
    color: #d21e27;
}
#study-order article:hover,
#study-order article:focus {
    border-color: #d21e27;}
h2 {text-align: center;}
h3 {text-align: center;
    font-size: 1.4em;
    font-weight: normal;
    color: #ff5546;
}
p {text-align: center}
.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr
}


#what-do-we-study aside
{background-color: black;
background-image: url("../img/saratov.jpg");
background-size: cover;
background-attachment: fixed;
color: whitesmoke;
text-align: center;
padding: 4.5em 1em 7em 0;}
footer {
color: white;
background: rgb(57, 57, 57);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);}


button01 {
    background: #cfe508;
    border: #e50808 solid 1px;
    border-radius: 20px;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
    margin: 9em 0em 2em 2em;
    font-weight: bold;
    transition: all ease-in 0.3s;}
button01:hover,
button01:focus,
button01:active {
    background: #d21e1e;
    border-color: #e5080f;
   }
/*.modal {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.modal .modal-content {
    background-color: black;
    background-image: url("../img/01.jpg");
    background-position: center;
    background-size: cover;
    width: 500px;
    margin: 0 auto;
    position: relative;
}
.modal .modal-content .modal-dark-bg-wrapper {
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
}
.modal .modal-content .close-cross-btn {
    color: white;
    position: absolute;
    right: -30px;
    top: 00px;
}
.modal form {
    margin: 1em 0;
}
.modal form label {
    display: block;
    text-align: left;
    margin: 0;
}
.modal form input[type=tel] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0.5em;
    font-size: 1em;
}
.modal form input[type=tel]:focus {
    outline-color: #db545a;
}
.modal form button {
    display: block;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
